<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% spaceless %}{% block title %}{{ berti.title }}{% endblock %} - ReactPHP{% endspaceless %}</title>

        <meta name="description" content="{% spaceless %}{% block description %}Event-driven, non-blocking I/O with PHP.{% endblock %}{% endspaceless %}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url }}/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url }}/favicon-32x32.png">
        <link rel="manifest" href="{{ base_url }}/manifest.json">
        <link rel="mask-icon" href="{{ base_url }}/safari-pinned-tab.svg" color="#4f5b93">
        <meta name="apple-mobile-web-app-title" content="ReactPHP">
        <meta name="application-name" content="ReactPHP">
        <meta name="theme-color" content="#f4f3f1">
        <meta name="msapplication-config" content="{{ base_url }}/browserconfig.xml" />

        <meta property="og:image" content="{{ base_url }}/og-image.png">

    {% if not use_asset_dev_server %}
        <link rel="preload" href="{{ berti.relative_root }}assets/{{ asset_manifest['sourcesanspro-regular.woff'] }}" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="{{ berti.relative_root }}assets/{{ asset_manifest['sourcesanspro-bold.woff'] }}" as="font" type="font/woff" crossorigin>

        <script>window.__assets = '{{ berti.relative_root }}assets/';</script>
        <script>{{ embed_asset(berti.build_dir ~ '/assets/' ~ asset_manifest['runtime.js'], berti.relative_root ~ 'assets/')|raw }}</script>
        <style>{{ embed_asset(berti.build_dir ~ '/assets/' ~ asset_manifest['main.css'], berti.relative_root ~ 'assets/')|raw }}</style>
        <script async src="{{ berti.relative_root }}assets/{{ asset_manifest['main.js'] }}"></script>
    {% else %}
        <script src="http://localhost:8080/_assets/main.js"></script>
    {% endif %}
    {% block head %}{% endblock %}
    </head>

    <body>
    {% block header %}
        <header class="header">
            <div class="wrapper">
                <div class="header__container">
                    <a class="header__logo" href="{{ berti.relative_root ? berti.relative_root : './' }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="320" height="47.29" viewBox="0 428.964 320 47.29"><path fill="#584B4F" d="M30.86 452.385c1.637-2.287 2.455-5 2.455-8.134 0-4.313-1.367-7.87-4.088-10.68-2.723-2.812-6.39-4.216-11.004-4.216h-7.71c-3.79 0-6.49.798-8.1 2.388C.806 433.332 0 435.872 0 439.355v36.512h9.08v-17.245h6.53l9.08 17.245h10.52L24.82 457.12c2.395-.87 4.41-2.447 6.04-4.735zm-8.488-3.334c-1.24 1.33-2.82 1.99-4.734 1.99H9.08v-9.47c0-2.74 1.35-4.112 4.05-4.112h4.508c2 0 3.603.61 4.8 1.83 1.196 1.22 1.797 2.82 1.797 4.802 0 1.982-.623 3.64-1.864 4.964v-.003zm20.348 14.536c0 4.572 1.055 7.766 3.167 9.57 2.114 1.81 5.782 2.71 11.008 2.71h16.46v-8.1H57.548c-2.18 0-3.68-.35-4.51-1.045-.83-.695-1.24-1.96-1.24-3.788v-6.467h14.434l.656-8.1h-15.09v-10.912h21.56v-8.098H42.72v34.23zm57.97-33.442c-.718-.523-1.665-.787-2.84-.787-1.177 0-2.168.285-2.972.85-.807.567-1.537 1.592-2.19 3.073l-14.89 42.585h9.47l2.55-8.03h15.613l2.613 8.03h9.47l-14.893-42.588c-.567-1.572-1.21-2.613-1.93-3.135v.002zM92.1 460.19l5.75-18.42 5.487 18.418H92.1v.002zm53.074 5.455c-1.155 1.678-3.245 2.512-6.27 2.512-3.03 0-5.258-.914-6.697-2.74-1.394-1.83-2.093-5.25-2.093-10.256v-4.052c0-1.783.045-3.2.13-4.243.178-3.27.785-5.576 1.833-6.928 1.48-1.914 3.745-2.873 6.794-2.873 2.613 0 4.532.653 5.75 1.96 1.218 1.308 2.07 3.245 2.547 5.813h8.49c0-5.14-1.557-9.07-4.67-11.79-3.114-2.723-7.153-4.084-12.116-4.084-3.398 0-6.293.564-8.687 1.7-6.097 2.783-9.146 9.686-9.146 20.704v3.918c0 13.982 5.945 20.968 17.833 20.968 5.4 0 9.58-1.59 12.54-4.77 2.964-3.176 4.44-7.73 4.44-13.653h-8.426c-.346 3.53-1.1 6.134-2.25 7.81v.005zm14.667-36.29v8.1h12.412v38.41h9.08v-38.41h12.47v-8.1"/><path fill="#4F5B93" d="M218.89 429.356h-18.03v46.51h9.086v-14.897h8.944c4.876 0 8.647-1.337 11.328-4.016 2.683-2.68 4.02-6.608 4.02-11.788s-1.337-9.112-4.02-11.788c-2.68-2.68-6.454-4.02-11.328-4.02v-.002zm4.538 21.686c-1.15 1.177-2.815 1.768-5 1.768h-8.485v-15.354h8.484c4.483 0 6.73 2.572 6.73 7.71 0 2.744-.578 4.703-1.73 5.88v-.004zm43.93-2.02H250.31v-19.666h-9.088v46.51h9.086v-18.81h17.05v18.81h9.076v-46.51h-9.078m48.63 4.02c-2.683-2.68-6.46-4.02-11.335-4.02h-18.027v46.507h9.085V460.97h8.943c4.877 0 8.654-1.336 11.337-4.014 2.68-2.678 4.013-6.608 4.013-11.788s-1.332-9.112-4.013-11.79v-.003zm-6.795 17.666c-1.154 1.177-2.822 1.768-5 1.768h-8.484v-15.354h8.485c4.483 0 6.734 2.572 6.734 7.71 0 2.744-.583 4.703-1.735 5.88v-.004z"/></svg>
                    </a>
                    <form class="header__search">
                        <input type="search" class="searchbox searchbox--collapsed" data-docsearch placeholder="Search documentation...">
                    </form>
                    {% include 'partials/header_menu.html.twig' %}
                </div>
            </div>
        </header>
    {% endblock %}

    {% block content %}
        <div class="container">
            <main class="wrapper">
                {{ berti.content|emoji|raw }}
            </main>
        </div>
    {% endblock %}

    {% block footer %}
        <footer class="footer">
            <div class="wrapper">
                <ul class="links">
                    <li><a href="https://github.com/reactphp"><i class="icon-github" aria-hidden="true"></i> GitHub</a></li>
                    <li><a href="https://twitter.com/reactphp"><i class="icon-twitter" aria-hidden="true"></i> Twitter</a></li>
                    <li><a href="https://gitter.im/reactphp/reactphp"><i class="icon-hash" aria-hidden="true"></i> Gitter</a></li>
                </ul>
            </div>
        </footer>
    {% endblock %}
    </body>
</html>
